<AuthorizeView>
    <Authorized>

        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Salir</button>
        </form>
    </Authorized>
    <NotAuthorized>
      
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
