<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Producción</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_OrdenDeProduccion">
                <span class="oi oi-task" aria-hidden="true"></span>Orden
            </NavLink>

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_Recetas">
                <span class="oi oi-beaker" aria-hidden="true"></span>  receta
            </NavLink>
</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Productos
            </NavLink>
      
        </div>


<div class="nav-item px-3">
    <NavLink class="nav-link" href="R_materiaPrima">
                <span class="oi oi-fire" aria-hidden="true"></span>Materia Prima
    </NavLink>

</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="c_orden">
                <span class="oi oi-zoom-in" aria-hidden="true"></span>Consulta órdenes
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="c_receta">
                <span class="oi oi-eye" aria-hidden="true"></span> Consulta Receta
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="c_MateriaPrima">
                <span class="oi oi-eye" aria-hidden="true"></span> Inventario 
            </NavLink>
            </div>
         
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="c_productos">
                <span class="oi oi-eye" aria-hidden="true"></span>Consulta Productos
            </NavLink>
        </div>

       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool exoandMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
